@font-face{
    font-family: mono;
    src: url(RubikMonoOne-Regular.ttf)
}
@font-face {
    font-family: inter;
    src: url(Inter.ttf);
  }

body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

form {
    margin: 2rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

form select{
    border-width: 0.1rem;
    border-color: #212121;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

h1{
    font-family: inter;
    font-weight: 700;
    font-size: 3rem;
    margin: 0.5rem;
}

h2{
    font-family: inter;
    font-weight: 400;
    margin: 0.5rem;
    font-size: 2rem;
}

label{
    font-family: inter;
    font-weight: 400;
    font-size: 1rem; 
}

input{
    border-width: 0.1rem;
    border-color: #212121;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.register{
    background: lightcoral;
    font-size: medium;
    color: white; 
    font-weight: 700;
    width: 30%;
    font-family: inter;
}

p{
    font-family: inter;
    font-size: small;
    padding-bottom: 1rem;
}

a{
    font-style: italic;
    color: blue;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100vh;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center{
    padding: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;   
    text-align: center;
}

.dashboard3d img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
    width: 45rem;
    object-fit: cover;
}

.viewDashboard{
    background: white;
    font-weight: 700;
    border-radius: 0.5rem;
    border-width: 0.2rem;
    border-color: #212121;
    font-size: x-large;
    display: flex; 
    align-items: center; 
    color: black;    
    text-align: center;
    justify-content: space-between;
    margin-left: auto;
}

.viewDashboard img{
 height: 10%;
 width: 10%;
}

.roundlogo{
    height: 5%;
    width: 5%;
    object-fit: fill;
}

.dashboardimg{
    height: 10%;
    width: 10%;
    object-fit: fill;
}

.headerlogo{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-family: mono;
    font-size: x-large;
    padding-left: 1rem;
}

.padleft{
    padding-left: 1rem;
}