.content {
  padding: 2rem;
  padding-left: 2rem;
  float: left;
  min-height: 100vh;
  background-color: white;
  padding: 1rem;
}

.header {
  font-family: inter;
  font-weight: 700;
  font-size: 3rem;
}

table {
  height: 100%;
  width: 100%;
  position: relative;
}

th,
td {
  border: 1px solid #212121;
  border-width: 0.1rem;
  padding: 1rem;
  text-align: center;
  font-family: inter;
}

th {
  font-size: x-large;
  font-weight: bold;
  background-color: white;
  padding: 1rem;
  font-family: inter;
}

td {
  font-size: medium;
  text-align: center;
  font-family: inter;
}