/* dashboard-style.css */
.sidebar {
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
}



.sidebar a {
    text-decoration: none;
    color: #337ab7;
}

.sidebar a:hover {
    color: #23527c;
}

.nav-links {
    color:              #212121;
    font-size:            medium;
    background-color:   #FFFFFF; 
    display:              flex;
    height:               3rem;
    flex-grow:            1;
    align-items:          center;
    justify-content:      center;
    gap:                  0.2rem;
    border-radius:        1rem;
    background-color:     #F9FAFB; 
    transition:           background-color 0.2s ease-in-out, color 0.2s ease-in-out; 
    font:                 var(--font-source-sans-pro);
    
  
    &:hover {
      background-color: #E6E6FA; 
      color: #212121; 
    }
  
  
    @media (min-width: 768px) { 
      flex-grow: initial;
      justify-content: flex-start;
      padding: 2px 3px;
    }
  }
  
  .icon{
    padding-left: 0.5rem;
  }
  
  .nav-link-active {
    color: #FFFFFF; 
    background-color: #6F42C1; 
  }
  

