/* dashboard-style.css */
.sidebar {
  width: 20%;
  float: left;
  min-height: 100vh;
  background-color: white;
  padding: 1rem;
  background-color: #f4f4f4;
  align-content: center;
  justify-content: center;
}


.sidebar a button {
    color:              #212121;
    font-size:            medium;
    background-color:   #FFFFFF; 
    display:              flex;
    height:               3rem;
    flex-grow:            1;
    align-items:          center;
    justify-content:      center;
    gap:                  0.2rem;
    border-radius:        1rem;
    background-color:     #F9FAFB; 
    transition:           background-color 0.2s ease-in-out, color 0.2s ease-in-out; 
    font-family:          inter;
    width: 100%;
    margin-bottom: 0.5rem;
    
  
    &:hover {
      background-color: lightcoral; 
      color: #212121; 
    }
  
  
    @media (min-width: 768px) { 
      flex-grow: initial;
      justify-content: flex-start;
      padding: 2px 3px;
    }
  }
  
  .icon{
    padding-left: 0.5rem;
  }
  
  .active {
    color: #FFFFFF; 
    background-color: red; 
  }
  

.sidebarLogo{
  width: 20%;
}