/* dashboard-style.css */
.sidebar {
  width: 20%;
  float: left;
  min-height: 100vh;
  background-color: #F4F4F4;
  padding: 1rem;
  align-content: center;
  justify-content: center;
}


.inactive {
    color:              #212121;
    font-size:            large;
    background-color:   #FFFFFF; 
    display:              flex;
    height:               3rem;
    flex-grow:            1;
    align-items:          center;
    justify-content:      center;
    gap:                  0.2rem;
    border-radius:        1rem;
    transition:           background-color 0.2s ease-in-out, color 0.2s ease-in-out; 
    font-family:          inter;
    width:                100%;
    margin-bottom:        0.5rem;
    
  
    &:hover {
      background-color: lightcoral; 
      color: #212121; 
    }
  
  
    @media (min-width: 768px) { 
      flex-grow: initial;
      justify-content: flex-start;
      padding: 2px 3px;
    }
  }
  .sidebar a button img{
    width: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
    fill: #212121;
  }
  
  .active {
    color:              white;
    font-size:            large;
    display:              flex;
    height:               3rem;
    flex-grow:            1;
    align-items:          center;
    justify-content:      center;
    gap:                  0.2rem;
    border-radius:        1rem;
    background-color:    gray; 
    font-family:          inter; 
    width:                100%;
    margin-bottom:        0.5rem;
    
    &:hover {
      background-color: lightcoral; 
      color: #212121; 
    }
  
  
    @media (min-width: 768px) { 
      flex-grow: initial;
      justify-content: flex-start;
      padding: 2px 3px;
    }
  }
  

.sidebarLogo{
  width: 20%;
}